MyWebApp.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
MyWebApp.Tests/bin/Debug/MyWebApp.Tests.dll
MyWebApp.Tests/bin/Debug/MyWebApp.Tests.pdb
MyWebApp.Tests/obj/Debug/MyWebApp.Tests.csproj.FileListAbsolute.txt
MyWebApp.Tests/obj/Debug/MyWebApp.Tests.csprojResolveAssemblyReference.cache
MyWebApp.Tests/obj/Debug/MyWebApp.Tests.dll
MyWebApp.Tests/obj/Debug/MyWebApp.Tests.pdb
MyWebApp/bin/Antlr3.Runtime.pdb
MyWebApp/bin/EntityFramework.SqlServer.xml
MyWebApp/bin/EntityFramework.xml
MyWebApp/bin/Microsoft.AspNet.Identity.Core.xml
MyWebApp/bin/Microsoft.AspNet.Identity.EntityFramework.xml
MyWebApp/bin/Microsoft.AspNet.Identity.Owin.xml
MyWebApp/bin/Microsoft.Owin.Host.SystemWeb.xml
MyWebApp/bin/Microsoft.Owin.Security.Cookies.xml
MyWebApp/bin/Microsoft.Owin.Security.Facebook.xml
MyWebApp/bin/Microsoft.Owin.Security.Google.xml
MyWebApp/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
MyWebApp/bin/Microsoft.Owin.Security.OAuth.xml
MyWebApp/bin/Microsoft.Owin.Security.Twitter.xml
MyWebApp/bin/Microsoft.Owin.Security.xml
MyWebApp/bin/Microsoft.Owin.xml
MyWebApp/bin/MyWebApp.dll
MyWebApp/bin/MyWebApp.dll.config
MyWebApp/bin/MyWebApp.pdb
MyWebApp/bin/Newtonsoft.Json.xml
MyWebApp/bin/System.Web.Helpers.xml
MyWebApp/bin/System.Web.Mvc.xml
MyWebApp/bin/System.Web.Optimization.xml
MyWebApp/bin/System.Web.Razor.xml
MyWebApp/bin/System.Web.WebPages.Deployment.xml
MyWebApp/bin/System.Web.WebPages.Razor.xml
MyWebApp/bin/System.Web.WebPages.xml
MyWebApp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
MyWebApp/bin/roslyn/Microsoft.CSharp.Core.targets
MyWebApp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
MyWebApp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
MyWebApp/bin/roslyn/Microsoft.CodeAnalysis.dll
MyWebApp/bin/roslyn/Microsoft.VisualBasic.Core.targets
MyWebApp/bin/roslyn/System.Collections.Immutable.dll
MyWebApp/bin/roslyn/System.Reflection.Metadata.dll
MyWebApp/bin/roslyn/VBCSCompiler.exe
MyWebApp/bin/roslyn/VBCSCompiler.exe.config
MyWebApp/bin/roslyn/csc.exe
MyWebApp/bin/roslyn/vbc.exe
MyWebApp/obj/Debug/MyWebApp.csproj.FileListAbsolute.txt
MyWebApp/obj/Debug/MyWebApp.csprojResolveAssemblyReference.cache
MyWebApp/obj/Debug/MyWebApp.dll
MyWebApp/obj/Debug/MyWebApp.pdb
MyWebApp.Tests/bin/
